html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card-img-top {
    max-height: 300px;
}

.red-background {
    background-color: rgb(247, 41, 41);
    border-color: rgb(247, 41, 41);
}

.green-background {
    background-color: rgb(106, 247, 101);
    border-color: rgb(106, 247, 101);
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    white-space: nowrap;
    z-index: 100;
}

.header-logo {
    max-height: 50px;
    margin-left: 24px;
    margin-right: 24px;
}

.footer-logo {
    max-width: 175px;
}

.booking-box {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}