html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header-logo {
    max-height: 50px;
    margin-left: 24px;
    margin-right: 24px;
}

.footer-logo {
    max-width: 180px;
}

.card-img-top {
    max-height: 300px;
}